.card .card-header {
	padding: 0;

}



.card .card-header .btn {
	font-size: 20px;
	font-weight: 600;
	color: black;
}

.card .card-header h2 {
	padding: 20px;
}


.card h4 {
	color: black;
}
.row {
	margin-top: auto;
}


h1,h2,h3,h4 {
	font-family: 'Oswald', sans-serif;
	text-align: left;
}

p.larger {
	font-size: 140%;
}

